body.bg-red-white {
    background: linear-gradient(to bottom, red, white);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron.bg-white {
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.photo-frame {
    border: 5px solid red;
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px; /* İstediğiniz boşluğu ayarlayabilirsiniz */
}
