{% extends 'base.html' %}

{% block content %}
<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Merhaba Ben Ebubekir</h1>
    <p class="lead">Web Siteme Hoşgeldiniz.</p>
    <hr class="my-4">
    <p>Biraz kendimden bahsedeyim:</p>
    <p>Ben Ebubekir, bir yazılım geliştiriciyim. Nevşehir'da yaşıyorum ve yazılıma olan tutkum 16 yaşımdan beri devam ediyor.</p>
    <p>Boş zamanlarımda yeni teknolojiler öğrenmek, açık kaynak projelere katkıda bulunmak ve yazılım geliştirmek gibi aktivitelerle ilgileniyorum.</p>
    <p>Daha fazla bilgi için aşağıdaki bağlantılara göz atabilir ve bana ulaşabilirsiniz:</p>
    <div class="mt-4">
        <a href="https://www.linkedin.com/in/ebubekir-özbek-0618b42b7/" target="_blank">LinkedIn Hesabım</a>
        <a href="https://github.com/ebubekirozbek" target="_blank"> GitHub Hesabım </a>
        <a href="https://www.instagram.com/e.bekir_38/" target="_blank"> Instagram Hesabım </a>
        <a href="https://x.com/ebekir38/" target="_blank"> X Hesabım </a>
    </div>
</div>
{% endblock %}